.widgetLg {
  flex: 2;
  -webkit-box-shadow: -17px 3px 36px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -17px 3px 36px -26px rgba(0, 0, 0, 0.75);
  box-shadow: -17px 3px 36px -26px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.widgetLTitle {
  font-size: 22px;
  font-weight: 600;
}

.imgTR {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgBTN {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLgBTN.Approved {
  background-color: lightgreen;
  color: darkgreen;
}

.widgetLgBTN.Declined {
  background-color: lightsalmon;
  color: darkred;
}

.widgetLgBTN.Pending {
  background-color: lightblue;
  color: darkblue;
}

.widgetLTB {
  width: 100%;
  border-spacing: 20px;
}

.widgetTH {
  text-align: left;
}

.widgetUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLAmount,
.widgetLDate {
  font-weight: 300;
}
